<md-dialog ng-controller="EmployeesCtrl as sc" class="dialogWindow" aria-label="Employee Info">
    <md-toolbar>
        <div class="md-toolbar-tools dialogTB" layout-padding>
            <span>
                <h2>Add Employee</h2>
            </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel(); toastMessage('The add operation was canceled.')"
                       aria-label="Close Add">
                <i class="fa fa-lg fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content md-no-momentum class="md-padding">
            <div>
                <form name="addForm" ng-submit="addEmployee()">

                    <!-- Name -->
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>First Name</label>
                            <input md-maxlength="12" required ng-model="newEmployee.firstName">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Last Name</label>
                            <input md-maxlength="12" required ng-model="newEmployee.lastName">
                        </md-input-container>
                    </div>

                    <!-- Title -->
                    <md-input-container class="md-block">
                        <label>Title</label>
                        <input ng-model="newEmployee.title" md-maxlength="20">
                    </md-input-container>

                    <!-- Personal Information -->
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Gender</label>
                            <md-select ng-model="newEmployee.gender">
                                <md-option ng-repeat="gender in genders" value="{{gender.value}}">
                                    {{gender.type}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Birthday</label>
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" ng-model="newEmployee.birthdate"
                            placeholder="MM/DD/YYYY" min="1900-01-01">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <!-- Email Address -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Email Address</label>
                            <input type="email" md-maxlength="40" ng-model="newEmail.email">
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm>
                            <!-- Spacer -->
                        </div>

                        <!-- Phone Number -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Phone Number</label>
                            <input ng-minlength="10" type='text' phone-input ng-model="newPhone.number">
                        </md-input-container>
                    </div>

                    <!-- Address -->
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Address</label>
                            <input md-maxlength="20" ng-model="newAddress.line1">
                        </md-input-container>

                        <div flex="5" hide-xs hide-sm>
                            <!-- Spacer -->
                        </div>

                        <md-input-container md-no-float class="md-block" flex-gt-sm>
                            <label>Address Line 2 (If Applicable)</label>
                            <input md-maxlength="15" ng-model="newAddress.line2">
                        </md-input-container>
                    </div>

                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>City</label>
                            <input md-maxlength="20" ng-model="newAddress.city">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>State</label>
                            <md-select ng-model="newAddress.state">
                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Postal Code</label>
                            <input name="postalCode" ng-model="newAddress.postalCode"
                                   ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        </md-input-container>
                    </div>

                    <!-- Task -->
                    <md-input-container class="md-block">
                        <label>Task</label>
                        <textarea ng-model="newTask.task" md-maxlength="250" rows="5"></textarea>
                    </md-input-container>
                </form>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="actionBar">
        <md-button ng-click="cancel(); toastMessage('The add operation was canceled.')" class="md-raised md-warn"
                   aria-label="Cancel Add">Cancel</md-button>
        <md-button ng-disabled="addForm.$invalid"
                   ng-click="addEmployee(); hide(); toastMessage('Added a new employee!')"
                   type="submit" class="md-raised md-primary"
                   aria-label="Add Button">Save</md-button>
    </md-dialog-actions>
</md-dialog>