<md-dialog ng-controller="EmployeesCtrl as sc" class="dialogWindow" aria-label="Employee Info">
    <md-toolbar>
        <div class="md-toolbar-tools dialogTB" layout-padding>
            <span>
                <h2>Add Employee</h2>
            </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel(); toastMessage('The add operation was canceled.')"
                       aria-label="Close Add">
                <i class="fa fa-lg fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="md-padding">
            <div>
                <form ng-submit="addEmployee()">

                    <!-- Name -->
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>First Name</label>
                            <input required ng-model="newEmployee.firstName">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Last Name</label>
                            <input required ng-model="newEmployee.lastName">
                        </md-input-container>
                    </div>

                    <!-- Personal Information -->
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Gender</label>
                            <md-select ng-model="newEmployee.gender">
                                <md-option ng-repeat="gender in genders" value="{{gender.value}}">
                                    {{gender.type}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Birthday</label>
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" ng-model="newEmployee.birthdate"
                            placeholder="MM/DD/YYYY" min="1900-01-01">
                        </md-input-container>
                    </div>

                    <!-- Email Address -->
                    <md-input-container class="md-block">
                        <label>Email Address</label>
                        <input ng-model="newEmail.email">
                    </md-input-container>

                    <!-- Address -->
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Address</label>
                            <input ng-model="newAddress.line1">
                        </md-input-container>
                        <md-input-container md-no-float class="md-block" flex-gt-xs>
                            <label>Address Line 2 (If Applicable)</label>
                            <input ng-model="newAddress.line2">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>City</label>
                            <input ng-model="newAddress.city">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>State</label>
                            <md-select ng-model="newAddress.state">
                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Postal Code</label>
                            <input name="postalCode" ng-model="newAddress.postalCode"
                                   ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="actionBar">
        <md-button ng-click="cancel(); toastMessage('The add operation was canceled.')" class="md-raised md-warn"
                   aria-label="Cancel Add">Cancel</md-button>
        <md-button ng-click="addEmployee(); hide(); toastMessage('Added a new employee!')"
                   type="submit" class="md-raised md-primary"
                   aria-label="Add Button">Save</md-button>
    </md-dialog-actions>
</md-dialog>