<md-dialog ng-controller="TeamsCtrl as tc" class="dialogWindow" aria-label="Team Add">
    <md-toolbar>
        <div class="md-toolbar-tools dialogTB" layout-padding>
            <span>
                <h2>Add Team</h2>
            </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel(); toastMessage('The add operation was canceled.')"
                       aria-label="Close Add Team">
                <i class="fa fa-lg fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="md-padding">
            <div>
                <form name="teamAddForm" ng-submit="addTeam()">

                    <!-- Name -->
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Team Name</label>
                            <input name="team_name" md-maxlength="40" required ng-model="newTeam.name">
                            <div ng-messages="teamAddForm.team_name.$error" role="alert">
                                <div ng-message="required">This field is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Description</label>
                            <textarea ng-model="newTeam.description" md-maxlength="400" rows="5"></textarea>
                        </md-input-container>
                    </div>

                </form>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="actionBar">
        <md-button ng-click="cancel(); toastMessage('The add operation was canceled.')" class="md-raised md-warn"
                   aria-label="Cancel Add">Cancel</md-button>
        <md-button ng-disabled="teamAddForm.$invalid"
                   ng-click="addNewTeam(); hide(); toastMessage('Added a new team!')"
                   type="submit" class="md-raised md-primary"
                   aria-label="Add Button">Save</md-button>
    </md-dialog-actions>
</md-dialog>