<md-dialog flex="70" style="max-width:90%; max-height:90%;
width: 85%; height: 90%; border-radius: 0;" aria-label="{{employee.firstName}} {{employee.lastName}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>
                    <h2>{{employee.firstName}} {{employee.lastName}}</h2>
                    <small>{{employee.title}}</small>
                </span>
                <span flex></span>
                <!--<md-button class="md-icon-button" ng-click="cancel()">-->
                    <!--<h2 aria-label="Close">X</h2>-->
                <!--</md-button>-->
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content class="md-padding">
                <div>
                    <span ng-if="employee.gender === 'female'">
                        <i class="fa fa-2x fa-female"></i>
                    </span>
                    <span ng-if="employee.gender === 'male'">
                        <i class="fa fa-2x fa-male"></i>
                    </span>
                    <div>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</div><br/>
                </div>
                <div>
                    <i class="fa fa-birthday-cake"></i>
                    <div>{{employee.birthdate}}</div><br/>
                </div>
                <div ng-repeat="address in employee.addresses">
                    <i class="fa fa-map-marker"></i> {{address.type}}
                    <div>{{address.line1}}, {{address.line2}}</div>
                    <div>{{address.city}}, {{address.state}}, {{address.postalCode}}, {{address.country}}</div><br/>
                </div>
                <div ng-repeat="email in employee.emails">
                    <i class="fa fa-envelope"></i>
                    <div>{{email.email}}</div><br/>
                </div>
                <div ng-repeat="telephone in employee.telephones">
                    <i class="fa fa-phone"></i>
                    <div>{{getPhone(telephone)}}</div><br/>
                </div>
                <div ng-repeat="task in employee.tasks">
                    <i class="fa fa-tasks"></i>
                    <div><strong>{{task.name}}</strong></div>
                    <div>{{task.description}}</div><br/>
                </div>
                <div ng-repeat="team in employee.teams">
                    <i class="fa fa-users"></i>
                    <div><strong>{{team.team.name}}</strong></div>
                    <div>{{team.team.description}}</div><br/>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>