<md-dialog class="dialogWindow" aria-label="Team Info">
    <md-dialog-content>
        <div ng-if="!isEditingTeam">
            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools dialogTB" layout-padding>
                <span>
                    <h2><span>{{team.name}}</span></h2>
                </span>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="softCancel()"
                                   aria-label="Close Window">
                            <i class="fa fa-lg fa-times"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content md-no-momentum class="md-padding">

                    <!-- Description -->
                    <div layout="column">
                        <div layout-align="start start">
                            <h4>Team Description:</h4>
                        </div>
                        <div flex>
                            <h5>{{team.description}}</h5>
                        </div>
                        <md-divider></md-divider>
                    </div>

                    <!-- End of Dialog -->

                </md-content>
                <!-- Action Buttons -->

                <md-dialog-actions layout="row" class="actionBar">
                    <md-button class="md-raised md-warn" aria-label="Delete Button" ng-click="delete(); toastMessage('Deleted team.')">Delete</md-button>
                    <md-button class="md-raised md-primary" aria-label="Edit Button" ng-click="toggleEditTeam()">Edit</md-button>
                </md-dialog-actions>
            </form>
        </div>

        <!-- Editing -->

        <div ng-if="isEditingTeam">
            <form name="teamEditForm">
                <md-toolbar>
                    <div class="md-toolbar-tools dialogTB" layout-padding>
                        <span>
                            <h2><span>Edit Team</span></h2>
                        </span>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel(); toastMessage('Canceled the edit operation.')"
                                   aria-label="Close Window">
                            <i class="fa fa-lg fa-times"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content md-no-momentum class="md-padding">

                    <!-- Name -->
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Team Name</label>
                            <input md-maxlength="20" required ng-model="team.name">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Description</label>
                            <textarea ng-model="team.description" md-maxlength="300" rows="5"></textarea>
                        </md-input-container>
                    </div>

                </md-content>
                <!-- Action Buttons -->

                <md-dialog-actions layout="row" class="actionBar">
                    <md-button class="md-raised md-warn" aria-label="Delete Button" ng-click="cancel();
                    toastMessage('Canceled the edit operation.')">Cancel</md-button>
                    <md-button class="md-raised md-primary" aria-label="Edit Team"
                               ng-disabled="teamEditForm.$invalid" ng-click="edit();
                               toastMessage('Edited team!')">Save</md-button>
                </md-dialog-actions>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>